.table {
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	float: center;
	margin-top: -2px;
	word-wrap: break-word;
}

.table_info /* ���������� ����� ��������� ����� */
{
	vertical-align: top;
	word-wrap: break-word;
}

.block_menu /* ���� ���� � �������� */
{
	background: url(images/stripe2.png) black;
	vertical-align: top;
	background-color: black;
	text-align: left;
	color: white;
	width: 200px;
}

.block_menu_nav /* ���� �������� ���� */
{
	vertical-align: top;
	text-align: left;
	color: #000;
	width: 175px;
}

.block_all_nav {
	vertical-align: top;
	word-wrap: break-word;
}

.block_info /* ���� ������ ������ � ����� */
{
	vertical-align: top;
	background: url(images/stripe2.png) white;
	color: #000;
	word-wrap: break-word;
	position: relative;
	padding: 7px;
	padding-top: 15px;
}

#footer {
	color: white;
	text-shadow: 1px 1px 0px #6F6F6F;
	background: url("images/mhead_bg.png") repeat-x #4C6F97;
	position: relative;
	margin-top: 15px;
	text-align: center;
	padding: 10px;
}
#footer a:hover {background: #37587F;}
#footer #copyright a {
	color: white;
	text-shadow: 1px 1px 0px #6F6F6F;
	border-right: 1px solid rgba(49, 76, 110, 0.600);
	padding: 10px;
}
#copyright {
	float: left;
}
#language {
	float: right;
}
#footer #language a {
	color: white;
	text-shadow: 1px 1px 0px #6F6F6F;
	border-left: 1px solid rgba(49, 76, 110, 0.600);
	padding: 10px;
}

@media (prefers-color-scheme: dark) {
	#footer {
		background: url("images/mhead_bg_dark.png") repeat-x #4C6F97;
	}
	.block_info {
		background: url(images/stripe2.png) black;
		color: #fff;
	}
}